@tailwind base;
@tailwind components;
@tailwind utilities;

main{
	min-height: 70vh;
}
.react-datepicker-wrapper {
    border: 2px solid rgb(92, 86, 86);
    text-align: center;
    font-size: 24px;
}
.react-datepicker__input-container {
    border: 1px solid #e8dfdf;
    padding: 5px;
}
@media(min-width: 768px){
	.left-siebar::after {
	position: absolute;
	content: "";
    border-right: 2px solid gray;
    height: 60vh;
    top: 18vh;
    left: 26vw;
}
}